# Ref: https://blog.mrtrustor.net/post/iptables-kubernetes/
apiVersion: v1
kind: Namespace
metadata:
  name: kube-network-fixer
---

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: network-masquerader
  labels:
    app: network-masquerader
  namespace: kube-network-fixer
spec:
  selector:
    matchLabels:
      app: network-masquerader
  template:
    metadata:
      labels:
        app: network-masquerader
    spec:
      hostPID: true
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
      containers:
        - name: network-masquerader
          image: gcr.io/google-containers/startup-script:v1
          imagePullPolicy: Always
          securityContext:
            privileged: true
          env:
          - name: STARTUP_SCRIPT
            value: |
              #! /bin/bash
              while true; do
                iptables-save | grep MASQUERADE | grep -q "NAT-NODE-NETWORK"
                if [ $? -ne 0 ]; then
                  echo "Missing NAT rule for Node Network, adding it"
                  iptables -A POSTROUTING -d {{ kubernetes.cluster_cidr }} -m comment --comment "NAT-NODE-NETWORK: SNAT for outbound traffic through Node Network" -m addrtype ! --dst-type LOCAL -j MASQUERADE -t nat
                fi
                sleep 60
              done





