server {
        listen 4433 ssl default_server;
        listen [::]:4433 ssl default_server;
        ssl_certificate {{ nginx['cert']['path'] }}/{{ nginx["cert"]["ctr"] }};
        ssl_certificate_key {{ nginx['cert']['path'] }}/{{ nginx["cert"]["key"] }};
        root /var/www/kube;
        index index.html index.htm index.nginx-debian.html;
        server_name _;
        auth_basic "Secure area - Authentication required";
        auth_basic_user_file {{ nginx['pass_file_path'] }};
        location / {
                try_files $uri $uri/ =404;
        }
}